<div>
  <p>asdasd</p>
  <div id="world-map" style="width: 600px; height: 400px"></div>
  <script>
    $(function () {
      $('#world-map').vectorMap({
        map: 'us_merc',
        regionsSelectable: true,
      });
    });
  </script>
  <p>To dos</p>
  </div>