<div class='company-thumb' style="width:32px">
<%= image_tag('https://ui-avatars.com/api/?name='+company.name), admin_company_path(company) %>
<%= link_to company.name, admin_company_path(c) %>
</div>